@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --primary: 235 86% 65%;
    --primary-foreground: 210 40% 98%;
    --secondary: 160 84% 39%;
    --secondary-foreground: 210 40% 98%;
    --accent: 38 92% 50%;
    --accent-foreground: 210 40% 98%;
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  margin: 0;
  padding: 0;
  overflow: hidden;
}
